.burger {
	display: none;
	position: relative;
	width: 20px;
	height: 20px;
	justify-content: flex-start;
	align-items: center;		
}

.burger i {
	position: absolute;
	height: 2px;
	width: 20px;
	background-color: var(--white);
}

.burger i:first-child {
	top: 0;
}

.burger i:nth-child(2) {
	top: 9px;
	width: 14px;
}

.burger i:last-child {
	top: 18px;
}

@media screen and (max-width: 900px) {
	.burger {
		display: flex;
	}
}