header{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	font-weight: normal;
	
	
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
}

.header__actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__nav{
	margin-right: 15px;
}

.header__nav a{
	margin-right: 7px;
}


.header__cities a{
	margin-right: 15px;

}

.header__cities{
		display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__actions .button{
	border: 1px;
	border-radius: 20px;
	background-color: var(--white);
	padding: 10px;
	color: var(--blue);
}

.header__link.-up.-white{
	color: var(--blue);
}

.special{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__link{
	color: var(--white);

}
.header__link.-up{
	
	text-transform:uppercase;
}



@media screen and (max-width: 1023px){
	.header__link.-up{
		display: none;
	}
	.header__link.-up.-white{
		display: inline;
	}

	header {
		display: flex;
		justify-content: space-between;
	}

	.header__nav {
		display: none;
	}

	.header__link{
		display: none;
	}
	
	.header__actions .button{
		background-color: var(--transparent);
		color: var(--white);
		padding: 0;
	}
}


@media screen and (max-width: 767px){
	.header__link.-up.-white{
		color: var(--white);
	}

	header {
		padding: 0 15px;
	}
}



@media screen and (max-width: 600px){
	.header__cities {
		display: none;
	}

	.button button{
		color: #2F80ED;
	}

	.hero{
		justify-content: center;
	}
}


