.main{
	background-image: url(../img/image1.png);
	height: 100vh;
	/*display: flex;*/
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: ;
}

.hero {
	width: 50%;
	color: var(--white);
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}

.hero a {
	color: var(--white);
}

.location{
	font-size: 16px;
	font-weight: 500;
}

.title{
	font-size: 40px;
}

.subtitle{
	font-size: 18px;
	font-weight: 500;
}

.main__hero{
	display:flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	height: 70%;
	align-self: center;
	margin-bottom: 300px;

}

.main .container{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}


@media screen and (max-width: 1122px){
	.main__hero{
		margin-right: 100px;
		justify-content: center;
		align-items: flex-end;
		
		
	}

	.hero__link {
		align-self: center;
	}

	.title{
		align-self: center;
		margin: 0 auto;
	}

}


@media screen and (max-width: 1023px){
	.main__hero{
		align-items: flex-start;
	}

	.hero{
		margin: 580px;
	}
}


@media screen and (max-width: 768px){

	.main__hero{
		margin-right: 0;
		align-items: center;
		margin: 0 auto;
		align-self: center;
		padding-bottom: 100px;

	}

	.main .container{
		justify-content: flex-start;
	}

.main {
	background-image: url(../img/image2.png);
	background-repeat: no-repeat;
	background-size:cover ;
	position: relative;
	height: 90vh;
}

	.hero{
		margin: 0;
	}

}

@media screen and (max-width: 400px){
	.hero{
		margin-right: 20%;
	}

	.main .container{
		align-items: flex-start;
	}

	.main{
		height: 100vh;
	}

}

@media screen and (max-width: 546px){
	.main{
		margin-bottom: 100px;
	}
}