.main{
	background-image: url(../img/image1.png);
	height: 700px;
	display: flex;
	
	justify-content: ;
}

.hero {
	width: 50%;
	color: var(--white);
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}

.hero a {
	color: var(--white);
}

.location{
	font-size: 16px;
	font-weight: 500;
}

.title{
	font-size: 40px;
}

.subtitle{
	font-size: 18px;
	font-weight: 500;
}

.main__hero{
	display:flex;
	align-items: center;
	justify-content: flex-end;
	height: 70%;
}

.hero__link{
	background-color: var(--aquamarine);
	margin-top: 15px;
	width: 112px;
	height: 77px;
	padding:15px; 
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 0 0 0 10px var(--green);
}


@media screen and (max-width: 1102px){
	.main__hero{
		margin-right: 15px;
		justify-content: center;
		margin: 0 auto;
	}

	.hero__link {
		align-self: center;
	}

	.title{
		align-self: center;
		margin: 0 auto;
	}

}

@media screen and (max-width: 816px){

.main {
	background-image: url(../img/image2.png);
	background-repeat: no-repeat;
	background-size:cover ;
	position: relative;
	height: 125vh;
}

}