.reviews .background{  padding: 45px;
	background-size: 100%;
	background-repeat: no-repeat;

	background-image: url(../img/transparrent.png);
}

.background h1{
	padding-left: 50px;	 
}

.reviews{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.comments{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	position: relative;
}




.comments__right{
	margin-right: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	right: 0;
	top: 0;
	position: relative;
	content: "";
	margin-top: 0;
	align-self: flex-start;

}

.comments__left{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-left: 50px;

}

.comments__left__top .avatar{
	background-image: url(../img/man1.png);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: cover;
	margin-top: 15px;
}

.comments__left__bottom .avatar{
	background-image: url(../img/women.png);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: cover;
	margin-top: 15px;
}

.comments__right .avatar{
	background-image: url(../img/man2.png);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: cover;
	margin-top: 15px;
}
@media screen and (max-width: 1023px){
}
.comments__left__top{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 30px;
}

.small-thing{
display: block;
		border: 5px solid transparent;
		border-top: 5px solid var(--blue);
		width: 10px;
		height: 10px;
		margin-top: 3px;	
		position: absolute;
		bottom: -10;
		content: "";

}

.background{
	position: relative;
	content: "";
	
}


@media screen and (max-width: 768px){
	.comments{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.comments__left{
		margin: 0;
	}

	.comments__right{
		margin-right: 0;
		margin-top: 30px;
		align-self: center;
		
	}

	.reviews .background{
		background-color: rgba(47, 128, 237, 0.05);
		background-image: none;
	}

	.background h1{
		padding-left: 0;
	}
}


/*.burger{
		display: flex;
		width: 20px;
		height: 20px;
		border-top: 2px solid var(--white);
		border-bottom: 2px solid var(--white);
		justify-content: flex-start;
		align-items: center;		
	}*/