.trust__top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trust__bottom{
	padding-top: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	
}

.trust__top__left{
	margin-top: 30px;
	background-image: url(../img/man.png);
	width:500px;
	height: 300px;
	background-size: cover;
}


.trust__top__right .person{
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
border-radius: 10px;
width: 300px;
height: 150px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.person h4{
	color: var(--d-gray);
	flex-wrap: 300;
}

.person h3{
	color: var(--blue);
	flex-wrap: 200;
}

.trust{
	margin-bottom: 30px;
}