:root {
 	--white: white;
 	--blue: #2F80ED;
 	--aquamarine: #64E2CD;
 	--green: rgba(100, 226, 205, 0.5);
 	--transparent: transparent;
 	--gray: #E5E5E5;
 	--d-gray: #636363;
 	--total-gray: #E5E5E5;
 	--blue-transparent: rgba(47, 128, 237, 0.05);
}
